<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<aside class="sidebar" th:fragment="aside">
    <ul class="main-nav">
        <li class="main-nav--active">
            <a class="main-nav__link" href="/index">
                <span class="main-nav__icon"><i class="icon pe-7s-home"></i></span>
                HOME <!--<span class="badge main-nav__badge badge--red">8</span>-->
            </a>
        </li>
        <!-- 사이드바 메뉴 -->
        <li class="main-nav--collapsible">
            <a class="main-nav__link" href="#">
                <span class="main-nav__icon"><i class="icon pe-7s-menu"></i></span>
                조회
            </a>
            <ul class="main-nav__submenu">
                <li><a href="/reservation"><i class="pe-7s-help1"></i><span>예약 조회</span></a></li>
                <li><a href="/reservationCancel"><i class="pe-7s-help1"></i><span>예약 취소</span></a></li>
                <li><a href="/reviewLookUp"><i class="pe-7s-help1"></i><span>리뷰 조회</span></a></li>

            </ul>
        </li>
        <li class="main-nav--collapsible">
            <a class="main-nav__link" href="#">
                <span class="main-nav__icon"><i class="icon pe-7s-photo-gallery"></i></span>
                관리
            </a>
            <ul class="main-nav__submenu">
                <li><a href="/salesStatus"><i class="pe-7s-help1"></i><span>매출 관리</span></a></li>
                <li><a href="/menuLookUp"><i class="pe-7s-help1"></i><span>메뉴 관리</span></a></li>
                <li>
                    <a th:href="@{'/resNotice/' + ${session.name}}"><i class="pe-7s-help1"></i><span>공지사항</span></a>
                </li>
                <li><a href="/mypage"><i class="pe-7s-help1"></i><span>식당 정보 등록</span></a></li>
                <li><a href="/mypage2"><i class="pe-7s-help1"></i><span>식당 상세정보 등록</span></a></li>
                <li><a href="/photo"><i class="pe-7s-help1"></i><span>식당 사진 등록</span></a></li>
                <li><a href="/capacity"><i class="pe-7s-help1"></i><span>식당 정원 등록</span></a></li>
                <li><a href="/facility"><i class="pe-7s-help1"></i><span>식당 편의시설 등록</span></a></li>
            </ul>
        </li>
    </ul>
</aside> <!-- /main-nav -->
</html>