<!doctype html>
<html lang="en">
<!-- head.html -->
<div th:replace="fragment/head :: head"></div>
<!-- head.html 끝 -->
<body>
<!-- header.html -->
<div th:replace="fragment/header :: header"></div>
<!-- header.html 끝-->
	<div class="wrapper">
		<!-- aside.html 시작 -->
		<div th:replace="fragment/aside :: aside"></div>
		<!-- aside.html 끝 -->
		<section class="content">
		<div class="row">
			<div class="col-md-12"> 
				<article class="widget">
					<header class="widget__header">
						<h3 class="widget__title" style="font-size: 21px;
                        font-weight: bold;">식당 상세정보 등록</h3>
					</header>
					<form>
						<div class="widget__content">
							<input type="text"  style="font-size: 17px;border: none;margin-bottom: 9px;" th:value="${name}" id="resaBisName" readonly/>
							<input type="text" class="input-text" id="bdNotice" placeholder="식당 공지사항" style="padding-left: 12px;"/>
							<input type="text" class="input-text" id="bdPark" placeholder="주차 정보" style="padding-left: 12px;"/>
							<input type="text" class="input-text" id="bdAddr" placeholder="상세주소"  style="    padding-left: 12px; margin-top: 10px;"/>
							<input type="text" class="input-text" id="bdHp" placeholder="가게 전화번호"  style="    padding-left: 12px;"/>
							<textarea type="text" class="input-text" id="bdIntro" placeholder="매장 소개"  style="    padding-left: 12px;"></textarea>
							<textarea type="text" class="input-text" id="bdCaution" placeholder="유의사항"  style="    padding-left: 12px;"></textarea>
							<input type="text" class="input-text" id="bdHour" placeholder="영업시간 안내"  style="    padding-left: 12px;"/>
							<input type="text" class="input-text" id="bdHoliday" placeholder="휴무일"  style="    padding-left: 12px;"/>
							<input type="text" class="input-text" id="bdHomepage" placeholder="홈페이지"  style="    padding-left: 12px;"/>

<!--						<textarea class="textarea" rows="6" placeholder="식당 소개" style="padding-left: 12px;"></textarea>-->
						<div style="width: 100%;">
							<div style="text-align: right;">
								<a id="bdBtn" class="btn red small" style="margin: 0;color: white">저장하기</a>
							</div>
						</div>
						</div>
					</form>
				</article>
			</div>
		</div>
	</section> <!-- /content -->
</div> <!-- /wrapper -->
<!--footer.html 시작-->
<div th:replace="fragment/footer :: footer"></div>
<!--footer.html 끝-->
<script src="/js/bistro_detail.js"></script>
</body>
</html>