
<!doctype html>
<html lang="en">
<!-- head.html -->
<div th:replace="fragment/head :: head"></div>
<script src="https://unpkg.com/vue@3"></script>
<!-- head.html 끝 -->
<body>
<!-- header.html -->
<div th:replace="fragment/header :: header"></div>
<!-- header.html 끝-->

	<div class="wrapper">

        <!-- aside.html 시작 -->
        <div th:replace="fragment/aside :: aside"></div>
        <!-- aside.html 끝 -->

		<section class="content">
		<div class="row">
			<div class="col-md-12">
				<article class="widget">
					<header class="widget__header" style="display: flex;">
						
						<!-- <div style="margin-left: auto;">
							 <button style="background-color: #60c6cf;
							border: #60c6cf;
							color: white;
							height: 28px;">예약 확인</button>
							<button style="background-color: #60c6cf;
							border: #60c6cf;
							color: white;
							height: 28px;">예약 취소</button> 
							<a href="#" class="btn cyan small" style="margin: 0;">예약확인</a>
                            <a href="#" class="btn red small" style="margin: 0;">예약취소</a>
						</div> -->
						
					</header>
					<div>
						<div style="text-align: center;
						font-size: 22px;
						font-weight: bold;
						color: #5a5c69;">
                            <button type="button" id="back" style="color: #5a5c69; text-decoration: none;">&lt;</button>
						    <a href="/reservationCalender" style="color: #5a5c69; text-decoration: none;"><span id="month"></span>월 <span id="day"></span>일</a>
                            <button type="button" id="front" style="color: #5a5c69; text-decoration: none;">&gt;</button>
					</div>
					
					<div class="row">

						<div class="col-xl-8 col-lg-7" style="    flex: 100%;">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">Sales Status By Month</h6>
								
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div class="chart-area">
										<canvas id="myAreaChart"></canvas>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4" style="    flex: 100%;
						max-width: 100%;">
                            <div id="content"  style="padding: 0; min-height: 272px;">

                                <div class="dashMain" style="width: 100%;
								margin: 0;">
                                <div class="mDashPannel">
                                    <div class="header">
                                        <div class="title">
                                            <h2>Today</h2>
                                            <div class="cTip" code="OR.SM.BO.20" data-gtm="TODO_Realtime_sales_status_tip"><div class="mTooltip gLarge">
                                            
                                            <div class="tooltip" style="z-index: 1; margin-left: 0px; margin-top: 0px; display: none;">
                                            <div class="content"><strong class="titleEm">실시간 매출현황</strong>
                                            <ul class="mList"><li>오늘 0시부터, 혹은 이번 달 1일부터 현재까지 발생한 총 주문 금액(건수), 총 실 결제금액(건수), 총 환불 금액(건수) 정보를 확인할 수 있습니다.</li></ul>
                                            </div>
                                            <button type="button" class="close eClose">닫기</button>
                                            <span class="edge"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                       
                                    </div>
                                    <div class="contnent">
                                        <table border="1" summary>
                        
                                            <colgroup>
                                                <col style="width:200px;">
                                                <col style="width:356px;">
                                                <col style="width:356px;">
                                                
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">구분</th>
                                                    <th scope="col">오늘</th>
                                                    <th scope="col">이번 달</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                        <th scope="row">총 예약 건수
                                                            <div class="cTip" code="OR.SM.BO.30" data-gtm="TODO_Realtime_total_amount_tip">
                                                                <div class="mTooltip gLarge">
                                                                    <!-- <button type="button" class="icon eTip" data-gtm="TODO_Realtime_total_amount_tip">도움말</button> -->
                                                                    <div class="tooltip" style="z-index : 1; ">
                                                                        <div class="content"></div>
                                                                        <button type="button" class="close eClose">닫기</button>
                                                                        <span class="edge"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <td>
                                                            <strong class="underline txtWarn daytotreserve"></strong></a> 건
                                                        </td>
                                                        <td>
                                                            <strong class="underline txtEm monthtotreserve"></strong>
                                                            <a> 건                                         
                                                            
                                                        </td>
                                                        <!-- <td class="center">
                                                            <a href="#" class="btnNormal" data-gtm="TODO_Realtime_order_check"><span>주문조회</span></a>
                                                        </td> -->
                                                </tr>
                                                <tr>
                                                    <th scope="row">총 결제금액
                                                        <div class="cTip" code="OR.SM.BO.40" data-gtm="TODO_Realtime_actual_amount_tip">
                                                            <div class="mTooltip gLarge">
                                                                <!-- <button type="button" class="icon eTip" data-gtm="TODO_Realtime_sales_status_tip">도움말</button> -->
                                                                <div class="tooltip" style="z-index : 1; ">
                                                                    <div class="content"></div>
                                                                        <button type="button" class="close eClose">닫기</button>
                                                                    <span class="edge"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        <strong class="underline txtWarn daytotmoney"></strong></a> 원
                                                       
                                                    </td>
                                                    <td>
                                                        <strong class="underline txtEm monthtotmoney"></strong></a> 원
                                                                       
                                                    </td>
                                                    <!-- <td class="center">
                                                        <a href="#" class="btnNormal" data-gtm="TODO_Realtime_order_check"><span>결제조회</span></a>
                                                    </td> -->
                                                </tr>
                                                <tr>
                                                    <th scope="row">총 환불 금액 <div class="cTip" code="OR.SM.BO.50" data-gtm="TODO_Realtime_refund_amount_tip"><div class="mTooltip gLarge">
                                                    <!-- <button type="button" class="icon eTip" data-gtm="TODO_Realtime_refund_amount_tip">도움말</button> -->
                                                        <div class="tooltip" style="z-index : 1; ">
                                                        <div class="content"></div>
                                                            <button type="button" class="close eClose">닫기</button>
                                                            <span class="edge"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        <strong class="underline txtWarn daytotrefund"></strong></a>원
                                                       
                                                    </td>
                                                    <td>
                                                        <strong class="underline txtEm monthtotrefund"></strong></a> 원
                                                    </td>
                                                    <!-- <td class="center">
                                                        <a href="#" class="btnNormal" data-gtm="TODO_Realtime_order_check"><span>환불조회</span></a>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        
                          
                            </div>
				        </div>

			</div> <!-- /row -->

	</section> <!-- /content -->
</div> <!-- /wrapper -->
<!--footer.html 시작-->
<div th:replace="fragment/footer :: footer"></div>
<!--footer.html 끝-->

</body>
<script>
    let date = new Date();
    let month = ("00"+(date.getMonth()+1).toString()).slice(-2);
    let day = ("00"+(date.getDate()).toString()).slice(-2);
    let month1 = document.querySelector('#month');
    let day1 = document.querySelector('#day');
    month1.innerText = month;
    day1.innerText = day;
    let dayReservecom;
    let dayReserveplan;
    let dayReservecancel;
    let monthReservecom;
    let monthReserveplan;
    let monthReservecancel;
    let totreserveday = document.querySelector(".daytotreserve")
    let totmoenyday = document.querySelector(".daytotmoney")
    let totrefundday = document.querySelector(".daytotrefund")
    let totreservemonth = document.querySelector(".monthtotreserve")
    let totmoneymonth = document.querySelector(".monthtotmoney")
    let totrefundmonth = document.querySelector(".monthtotrefund")


    const back = document.querySelector('#back');
    const front = document.querySelector('#front');
    back.addEventListener('click', minus);
    front.addEventListener('click', plus);

    function datelist(){
        let month = ("00"+(date.getMonth()+1).toString()).slice(-2);
        let day = ("00"+(date.getDate()).toString()).slice(-2);
        month1.innerText = month;
        day1.innerText = day;
        console.log(month1.innerText)
        console.log(day1.innerText)
    }
    function minus(){
        date = new Date(date.setDate(date.getDate()-1));
        datelist();
        total();
    }
    function plus(){
        date = new Date(date.setDate(date.getDate()+1));
        datelist();
        total();
    }
    function month11(){
        let data1 = {
            resMonth : month1.innerText}
        $.ajax({
            url: "/api/reservation/monthcom",
            type: "GET",
            async:false,
            dataType: "json",
            processData: true,
            contentType: "application/json; charset=UTF-8",
            data: data1,
            success: function(result) {
                if (result) {
                    dayReservecom = Object.keys(result.data).length;
                    console.log("달별 방문완료 건수 : "+dayReservecom);
                    return dayReservecom;
                } else {
                    alert("전송된 값 없음");
                }
            },
            error: function() {
                alert("에러 발생");
            }
        });
    }
    function month12(){
        let data1 = {
            resMonth : month1.innerText}
        $.ajax({
            url: "/api/reservation/monthplan",
            type: "GET",
            async:false,
            dataType: "json",
            processData: true,
            contentType: "application/json; charset=UTF-8",
            data: data1,
            success: function(result) {
                if (result) {
                    dayReserveplan = Object.keys(result.data).length;
                    console.log("달별 방문예약건수 : "+dayReserveplan);
                    return dayReserveplan;
                } else {
                    alert("전송된 값 없음");
                }
            },
            error: function() {
                alert("에러 발생");
            }
        });
    }
    function month13(){
        let data1 = {
            resMonth : month1.innerText}
        $.ajax({
            url: "/api/reservation/monthcancel",
            type: "GET",
            async:false,
            dataType: "json",
            processData: true,
            contentType: "application/json; charset=UTF-8",
            data: data1,
            success: function(result) {
                if (result) {
                    dayReservecancel = Object.keys(result.data).length;
                    console.log("달별 취소건수 : "+dayReservecancel);
                    return dayReservecancel;
                } else {
                    alert("전송된 값 없음");
                }
            },
            error: function() {
                alert("에러 발생");
            }
        });
    }
    function monthday1(){
        let data1 = {
            resMonth : month1.innerText,
            resDay : day1.innerText}
        console.log(month1.innerText)
        console.log(day1.innerText)
        $.ajax({
            url: "/api/reservation/daycom",
            type: "GET",
            async:false,
            dataType: "json",
            processData: true,
            contentType: "application/json; charset=UTF-8",
            data: data1,
            success: function(result) {
                if (result) {
                    monthReservecom = Object.keys(result.data).length;
                    console.log("일별 방문완료 건수 : "+monthReservecom);
                    return monthReservecom;
                } else {
                    alert("전송된 값 없음");
                }
            },
            error: function() {
                alert("에러 발생");
            }
        });
    }
    function monthday2(){
        let data1 = {
            resMonth : month1.innerText,
            resDay : day1.innerText}
        $.ajax({
            url: "/api/reservation/dayplan",
            type: "GET",
            async:false,
            dataType: "json",
            processData: true,
            contentType: "application/json; charset=UTF-8",
            data: data1,
            success: function(result) {
                if (result) {
                    monthReserveplan = Object.keys(result.data).length;
                    console.log("일별 방문예정 건수 : "+monthReserveplan);
                    return monthReserveplan;
                } else {
                    alert("전송된 값 없음");
                }
            },
            error: function() {
                alert("에러 발생");
            }
        });
    }
    function monthday3(){
        let data1 = {
            resMonth : month1.innerText,
            resDay : day1.innerText}
        $.ajax({
            url: "/api/reservation/daycancel",
            type: "GET",
            async:false,
            dataType: "json",
            processData: true,
            contentType: "application/json; charset=UTF-8",
            data: data1,
            success: function(result) {
                if (result) {
                    monthReservecancel = Object.keys(result.data).length;
                    console.log("일별 취소건수 : "+monthReservecancel);
                    return monthReservecancel;
                } else {
                    alert("전송된 값 없음");
                }
            },
            error: function() {
                alert("에러 발생");
            }
        });
    }

    function allreserve1(){
            monthday1()
            monthday3()
            monthday2()
            month11()
            month12()
            month13()
    }
    function printint(){
        totreservemonth.innerText = parseInt(dayReservecom)+parseInt(dayReserveplan);
        totmoneymonth.innerText = (parseInt(dayReservecom)+parseInt(dayReserveplan))*50000;
        totrefundmonth.innerText = parseInt(dayReservecancel)*50000;
        totreserveday.innerText = parseInt(monthReservecom)+parseInt(monthReserveplan);
        totmoenyday.innerText = (parseInt(monthReserveplan)+parseInt(monthReservecom))*50000;
        totrefundday.innerText = parseInt(monthReservecancel)*50000;
        // console.log(dayReservecom);
        // console.log(dayReserveplan);
        // console.log(dayReservecancel);
        // console.log(monthReservecom);
        // console.log(monthReserveplan);
        // console.log(monthReservecancel);
    }
    function total(){
        allreserve1()
        printint()
    }
    datelist();
    total()
</script>
<script src="js/chart-area.js"></script>
</html>